//@import "minima/Nighthawkpages-dracula-highlight";
* {
  box-sizing: border-box;
}

$light-blue: deepskyblue; 

body {
  color: var(--body-color);
  background-color: $light-blue !important;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

blockquote {
  padding: 0 var(--spacer);
  margin: 0 0 var(--spacer) 0;
  border-left: .25em solid var(--border-color);
  opacity: .65;
}

figure {
  margin: 0;
}

figcaption {
  margin-bottom: var(--spacer);
  font-size: .85em;
}

img {
  display: block;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
}

code,
pre {
  font-family: var(--code-font-family);
}

code {
  padding: .1em .25em;
  background-color: var(--code-bg-color);
  border-radius: var(--border-radius);
}

pre {
  display: block;
  overflow: auto;
  padding: var(--spacer);
  margin: var(--spacer) 0;

  code {
    padding: 0;
    background-color: inherit;
  }
}

table {
  margin-top: 0;
  margin-bottom: var(--spacer);
  width: 100%;
  border: 0 solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: .25em .5em;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  padding: .15em;
  border-radius: var(--border-radius);
  color: var(--body-bg-color);
  background-color: var(--info-color);
}

hr {
  position: relative;
  margin: var(--spacer-2) 0;
  border: 0;
  border-top: 1px solid var(--border-color);
}

abbr {
  font-weight: bold;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted var(--border-color);
  }
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(181, 82, 82);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: darkred;
}


.binary-badge {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #f0f0f0;
}

.binary-digit {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}
.binary-one {
  background-color: #FF6347; /* Change color for '1' digit */
}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.box {
  width: 300px;
  padding: 20px;
  border: 1px solid #d6b7b7;
  border-radius: 8px;
}

b {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.app {
  background: #fff;
  width: 100%;
  max-width: 600px;
  margin: 100px auto 9px;
  border-radius: 10px;
  padding: 30px;
}